@model IEnumerable<MyTravelCMS.Models.Tip>
@{


    ViewBag.Title = "List";
}
<h2>List of Tips</h2>
<div class="btn btn-default pull-right">
    @Html.ActionLink("Give a New Tip", "New")
</div>
<div>
    @foreach (var Tip in Model)
    {

        <div class="showlist" style="font-family: 'Open Sans', sans-serif;">         
               @Html.ActionLink(Tip.TipTitle, "Details/" + Tip.TipID)
        </div>

    }
</div>