@model MyTravelCMS.Models.ViewModels.TipEdit
@{
    ViewBag.Title = "New";
}

<h2>New Tip</h2>
<form method="POST" action="/Tip/Create">
    <div class="form-group">
        <label>Title:</label>
        <input id="TipTitle_New" name="TipTitle_New" class="form-control" />
    </div>
    <div class="form-group">
        <label>Country:</label>
        <select id="TipCountry_New" name="TipCountry_New" class="form-control">
            @foreach (var country in Model.Countries)
            {
                <option value="@country.CountryID">@country.CountryName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Traveller:</label>
        <select id="TipTraveller_New" name="TipTraveller_New" class="form-control">
            @foreach (var traveller in Model.Travellers)
            {
                <option value="@traveller.TravellerID">@traveller.TravellerName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Content:</label>
        <textarea id="TipContent_New" name="TipContent_New" class="form-control"></textarea>
    </div>
    <div>
        <input type="submit" value="Submit" class="btn btn-default" />
    </div>
</form>