@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="font-family: 'Pacifico', cursive;">Travel CMS</h1>
    <p class="lead"style="color: #b32d00;">Explore the WORLD!</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Countries</h2>
        <p>
            Do you want to find out more?
        </p>
        <p><a class="btn btn-default" href="http://localhost:58478/Country">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Tips</h2>
        <p>Here you find some useful and interesting travel tips.</p>
        <p><a class="btn btn-default" href="http://localhost:58478/Tip">Learn more &raquo;</a></p>
    </div>
</div>