@model MyTravelCMS.Models.Country

@{
    ViewBag.Title = "Details";
}

<h2  style="font-family: 'Pacifico', cursive;">@Model.CountryName</h2>
<div class="btn btn-default pull-right">
    @Html.ActionLink("Delete Country", "Delete/" + Model.CountryID, "Country")
</div>
<div>
    <h3>List of tips</h3>
    <div>
        @foreach (var tip in Model.Tips)
        { <div>
             @Html.ActionLink(tip.TipTitle, "Details/" + tip.TipID, "Tip")
          </div>
        }
    </div>
</div>