@model IEnumerable<MyTravelCMS.Models.Country>

@{
    ViewBag.Title = "List";
}

<h2 class="text-center">Countries</h2>

<div class="btn btn-default pull-right">
    @Html.ActionLink("Add New Country", "New", "Country")
</div><br/>

      <div>
          @foreach (var country in Model)
          {
              <div  class="showlist" style="font-family: 'Open Sans', sans-serif;">
                  @Html.ActionLink(country.CountryName, "Details/" + country.CountryID, "Country")
              </div>
          }
          </div>
